<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <h2><%= t('links.player.register') %></h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
    
      <div class="field">
        <%= f.label :email%><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>
      
      <div class="field">
        <%= f.label :name%><br />
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    
      <div class="field">
        <%= f.label :password%>
        <% if @validatable %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>
    
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
      </div>
    
      <div class="actions">
        <div class="btn-own-outline btn-own-outline-inline">
          <%= f.submit t('links.player.register'), class: "btn btn-own" %>
        </div>
      </div>
    <% end %>
    
    <%= render "devise/shared/links" %>
  </div>
</div>