<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <h2><%= t('links.player.login') %></h2>
    
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control'  %>
      </div>
    
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control'  %>
      </div>
    
      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>
    
      <div class="actions">
        <div class="btn-own-outline btn-own-outline-inline">
          <%= f.submit t('links.player.login'), class: "btn btn-own" %>
        </div>
      </div>
    <% end %>
    
    <%= render "devise/shared/links" %>
  </div>
</div>