.row#item-div
  .col-md-6
    %img{"data-src" => "holder.js/200x200/dark/text:Ship #{@ship_stat.kind} image"}
    = image_tag('ship.png', alt: "Ship #{@ship_stat.kind} image", size: '200')
    .price
      = t('activerecord.attributes.ship.price')
      = @ship_stat.price
      
    - if @ship_stat.price > @current_player.cash
      %div#too_expensive=t('links.item.too_expensive')
    - else
      .btn-own-outline
        = link_to t('links.ship.buy'), ships_path(kind: @ship_stat.kind), class: "btn btn-own btn-block", method: :post
  .col-md-6
    = render partial: 'ships/stat_chart'

