.chart
  .title
    = @ship_stat.name
  .stats
    .stat
      = t('activerecord.attributes.ship.propulsion_cluster.many')
      = @ship_stat.propulsion_clusters
      .indent-one
        = t('activerecord.attributes.ship.engine_slots')
        = @ship_stat.engine_slots
    .stat
      = t('activerecord.attributes.ship.arsenal_cluster.many')
      = @ship_stat.arsenal_clusters
      .indent-one
        = t('activerecord.attributes.ship.kineticgun_slots')
        = @ship_stat.kineticgun_slots
      .indent-one
        = t('activerecord.attributes.ship.emp_slots')
        = @ship_stat.emp_slots
      .indent-one
        = t('activerecord.attributes.ship.cos_slots')
        = @ship_stat.hack_slots
    .stat
      = t('activerecord.attributes.ship.armor_cluster.many')
      = @ship_stat.armor_clusters
      .indent-one
        = t('activerecord.attributes.ship.plating_slots')
        = @ship_stat.plating_slots
      .indent-one
        = t('activerecord.attributes.ship.barrier_slots')
        = @ship_stat.barrier_slots
      .indent-one
        = t('activerecord.attributes.ship.firewall_slots')
        = @ship_stat.firewall_slots
    .stat
      = t('activerecord.attributes.ship.storage_cluster.many')
      = @ship_stat.storage_clusters
      .indent-one
        = t('activerecord.attributes.ship.bay_slots')
        = @ship_stat.bay_slots
    .stat
      = t('activerecord.attributes.ship.command_cluster.one')
      = @ship_stat.command_clusters
      .indent-one
        = t('activerecord.attributes.ship.bridge_slots')
        = @ship_stat.bridge_slots