%div.shop-banner
  %img{"data-src" => "holder.js/100%x75/dark/text:Ship dealer banner"}
  
%ul#dark-tab.nav.nav-tabs
  %li{:class => @variant == nil ? 'active' : '', :role => "presentation"}
    = link_to t("links.ship.variants.all"), new_ship_path
  - 3.times do |n|
    %li{:class => @variant.to_i == n+1 ? 'active' : '', :role => "presentation"}
      = link_to t("links.ship.variants.t#{n+1}"), new_ship_path(variant: (n+1))
    
.row
  .col-md-3#item-link-divs
    = div_for(@ship_stats, class: "item-links") do |ship_stat|
      = link_to ship_stat.name, new_ship_offer_path(ship_stat), remote: true
  .col-md-9#item-divs
