%div.show-banner
  

%ul#dark-tab.nav.nav-tabs
  %li{:class => @order == 'ship' ? 'active' : '', :role => "presentation"}
    = link_to t("links.ship.show"), @ship
  %li{:class => @order == 'clusters' ? 'active' : '', :role => "presentation"}
    = link_to t("links.ship.by_clusters"), ship_path(@ship, order: 'clusters')
  %li{:class => @order == 'parts' ? 'active' : '', :role => "presentation"}
    = link_to t("links.ship.by_parts"), ship_path(@ship, order: 'parts')
  %li{:class => @order == 'workers' ? 'active' : '', :role => "presentation"}
    = link_to t("links.ship.by_workers"), ship_path(@ship, order: 'workers')
