// Place all the styles related to the Inspections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#inspection-banner {
  display: table;
  background-color: #1b1b1b;
  width: 100%;
  height: 75px;
  overflow: hidden;
  span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 2em;
    font-weight: bold;
    color: #a60;
  }
}

.inspect-form {
  label, span {
    font-weight: normal;
    font-size: 0.8em;
  }
  .row {
    margin: 0;
  }
  #s-tiers-checkboxes, #s-variants-checkboxes, #p_ship_id, #p_klass, #w_ship_id, .submit {
    display: none;
  }
  
  .response {
    font-size: 0.9em;
    color: #a60;
    display: none;
    span {
      font-size: 1em;
      font-weight: bold;
    }
  }
  
}