.item-name > span {
  font-size: 1.2em;
  color: #a60;
  margin: 2px auto;
}
.item-links > a {
  font-size: 0.85em;
}

.item-stat {
  background: rgba(170, 85, 0, 0.075);
  border-radius: 5px;
  border: 1px solid #a50;
  margin-bottom: 5px;
  padding: 0 10px;
  .item-stat-header {
    font-size: 1.15em;
    font-weight: bold;
    color: #A60;
    border-bottom: 1px solid #a50;
    padding: 2px 15px;
    margin: 0 -10px;
  }
  div {
    padding: 2px 0;
  }
  a {
    font-size: 0.85em;
  }
  hr {
    border-color: #a60;
    margin: 0 -10px;
  }
}

.chart {
  
  .title {
    font-weight: bold;
    color: #a60;
  }
  
  .price {
    font-weight: bold;
  }
  
  .stats {
    font-size: 0.8em;
  }

  .indent-one {
    margin-left: 1em;
  }
  .btn-own-outline {
    margin-bottom: 20px;
  }
  
}

#too_expensive {
  font-size: 1.15em;
  color: #a60;
}