@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding: 70px 0 70px 0;
  background-color: $gray-darker;
  background: image-url("space_bg.png");
  background-size: 100%;
  background-repeat: repeat-y;
  color: #ddd;
  font-family: "Lucida Console", monospace;
  a {
    color: #a50;
    &:hover, &:focus {
      color: #b61;
      text-decoration: none;
    }
  }
}
.my-container-outline {
  -webkit-box-shadow: 0px 0px 20px 10px rgba(0,0,0,1);
  box-shadow: 0px 0px 20px 10px rgba(0,0,0,1);
  
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 3px solid #fa0;

  margin: 10px 0;
  padding: 0;
}

.my-container {
  -webkit-box-shadow: 0px 0px 20px 10px rgba(0,0,0,1);
  box-shadow: 0px 0px 20px 10px rgba(0,0,0,1);
  
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 5px solid #111;
  
  width: 100%;
  margin: 0;
  
  padding: 5px 10px 5px 10px;
  
  background-color: rgba(51, 51, 51, 0.9); 
}
