// Place all the styles related to the Parts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#discharge-form {
  display: none;
  label {
    font-weight: normal;
    font-size: 0.8em;
  }
  #submit {
    display: none;
  }
}