.player-name {
  width: 98%;
  margin: 10px 1% 10px 1%;
  font-style: normal;
  font-size: 1.2em;
  font-weight: bold;
  color: #a60;

}

.player-image {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  
  width: 120px;
  border: 3px solid #141414;
  padding: 5px;
  margin: 10px auto 10px auto;
  
  background-color: #222;
}