// Place all the styles related to the Workers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#training-form {
  display: none;
  #hide-lvl1 {
    display: none;
  }
  #hide-lvl2 {
    display: none;
  }
  #course_points {
    width: 50px;
    color: #555;
  }
  label, span {
    font-weight: normal;
    font-size: 0.8em;
  }
  #course-price {
    font-size: 1em;
    color: #a60;
  }
  #course-price-alert {
    display: none;
  }
}

