%div#item-div
  .row
    .col-md-12
      .item-name
        %span
          = @cluster.name
  .row
    .col-md-7
      .item-stat
        .item-stat-header= t('elements.cluster.free_slots')
        - @cluster.stat.each do |key, val|
          - part_klass = key.to_s.split('_').first
          %div= t("elements.cluster.#{part_klass}", slots: @cluster.free_slots_for(part_klass))
      
      
      - if (parts = @cluster.parts).empty?
        .alert.alert-danger= t('elements.cluster.no_parts')
      - else
        .item-stat
          .item-stat-header= t('elements.cluster.parts')
          - parts.each do |part|
            %div= link_to part.name, part_inspection_path(id: part, klass: part.big_klass), remote: true
      
      - if (workers = @cluster.workers).empty?
        .alert.alert-danger= t('elements.cluster.no_workers')
      - else
        .item-stat
          .item-stat-header= t('elements.cluster.workers')
          - workers.each do |worker|
            %div= link_to worker.name, worker_inspection_path(worker), remote: true
        
    .col-md-5
      .chart
        .title= t('elements.item.stats')
        
        = t('elements.cluster.slots')
        .stats
          - @cluster.stat.each do |key, val|
            %div.indent-one= t("elements.cluster.#{key.to_s.split('_').first}", slots: val)
        
        .title= t('elements.item.manage')