%ul#dark-tab.nav.nav-tabs
  %li{:class => params[:action] == 'ship' ? 'active' : '', :role => "presentation"}
    = link_to t("links.ship.show"), ship_inspection_path(@ship)
  %li{:class => params[:action] == 'clusters' ? 'active' : '', :role => "presentation"}
    = link_to t("links.ship.by_clusters"), clusters_inspection_path(c_ship_id: @ship.id)
  %li{:class => params[:action] == 'parts' ? 'active' : '', :role => "presentation"}
    = link_to t("links.ship.by_parts"), parts_inspection_path(p_selection: 'shipped', p_ship_id: @ship.id)
  %li{:class => params[:action] == 'workers' ? 'active' : '', :role => "presentation"}
    = link_to t("links.ship.by_workers"), workers_inspection_path(w_selection: 'shipped', w_ship_id: @ship.id)
