%div#item-div
  .row
    .col-md-12
      .item-name
        %span
          = @part.name
          = t("activerecord.attributes.part.kind", kind: @part.kind)
      .progress-bar-label= "HP #{@part.hp}/#{@part.stat.hp_base} (#{@hp_index}%)"
      .progress#progress-hp
        .progress-bar.progress-bar-danger{"aria-valuemax" => "100",
          "aria-valuemin" => "0", "aria-valuenow" => @hp_index,
          :role => "progressbar", :style => "width: #{@hp_index}%"}
        %span.progress-bar-label
  .row
    .col-md-6
      .item-stat
        .item-stat-header= t('activerecord.attributes.part.effective_stats')
        - Partable::ATTRIBUTES[@part.klass.to_sym].each do |attrib|
          %div
            = t("activerecord.attributes.#{@part.klass}.#{attrib}")
            = @part.send(attrib)

      - if @part.workers.empty?
        .alert.alert-danger= t('elements.part.no_workers')
      - else
        .item-stat
          .item-stat-header= t('elements.part.workers')
          - @part.workers.each do |worker|
            %div= link_to worker.name, 
              worker_inspection_path(worker),
              remote: true
      
      - if @part.ship.nil?
        .alert.alert-info= t('elements.part.not_installed')
      - else
        .item-stat
          .item-stat-header= t('elements.part.installed_in')
          %div
            = t("elements.part.installation.cluster")
            = link_to @part.cluster.name,
              cluster_inspection_path(@part.cluster, c_ship_id: @part.ship_id),
              remote: true
          %div
            = t("elements.part.installation.ship")
            = link_to @part.ship.name, ship_inspection_path(@part.ship)
    .col-md-6
      .chart
        .title= t('elements.item.stats')
        - @part.stat.stat.each do |k, v|
          %div= t("activerecord.attributes.part.#{k}", val: v)
      .chart
        .title= t('elements.item.manage')
        .btn-own-outline
          = link_to t('links.part.sell'),
            sell_part_path(id: @part.id, klass: @part.big_klass),
            method: :delete, class: "btn btn-own btn-block"
        .btn-own-outline
          = link_to t('links.part.uninstall'),
            uninstall_part_path(id: @part.id, klass: @part.big_klass),
            method: :patch,
            class: "btn btn-own btn-block"
        .btn-own-outline
          = link_to t('links.part.discharge.workers'), '#',
            class: "btn btn-own btn-block", id: "btn-discharge-form"
            
        .item-stat#discharge-form
          = form_tag part_discharge_path(klass: @part.big_klass, id: @part.id), method: :post, remote: true do |f|
            // = hidden_field_tag(:klass, @part.big_klass)
            // = hidden_field_tag(:id, @part.id)
            .input-group
              = check_box_tag(:all, true, false)
              = label_tag(:all, t("links.part.discharge.de_select_all"))
            - @part.workers.each do |worker|
              .input-group
                = check_box_tag("worker_ids[#{worker.id}]", worker.id, false, class: 'worker-id-check')
                = label_tag("worker_ids[#{worker.id}]", worker.name)
            .btn-own-outline#submit
              = submit_tag(t('links.part.discharge.submit'),
              class: 'btn btn-own btn-block',
              data: { confirm: t('links.course.accept') })