%div#item-div
  .row
    .col-md-12
      .item-name
        %span= @worker.name
  .row
    .col-md-6
      .item-stat
        .item-stat-header= t("activerecord.attributes.worker.skills")
        - @worker.skills.each do |skill_and_value|
          %div= t("activerecord.attributes.worker.#{skill_and_value[0]}", val: skill_and_value[1])
      
      
      - if @worker.crewable.nil?
        .alert.alert-info= t('elements.worker.not_delegated')
      - else
        .item-stat
          .item-stat-header= t('activerecord.attributes.worker.delegated_to')
          %div
            = t("activerecord.attributes.worker.delegation.part")
            = link_to @worker.crewable.name, part_inspection_path(id: @worker.crewable, klass: @worker.crewable.big_klass), remote: true
          - if @worker.ship
            %div
              = t("activerecord.attributes.worker.delegation.cluster")
              = link_to @worker.crewable.cluster.name, cluster_inspection_path(@worker.crewable.cluster, c_ship_id: @worker.ship_id), remote: true
            %div
              = t("activerecord.attributes.worker.delegation.ship")
              = link_to @worker.ship.name, @worker.ship #, show_ship_item_path(@worker.ship), remote: true
          - else
            .alert.alert-info= t('elements.worker.not_shipped')
    .col-md-6
      .chart
        .title= t('elements.item.manage')
        .btn-own-outline
          = link_to t('links.worker.fire'), @worker, method: :delete,
            class: "btn btn-own btn-block"
        .btn-own-outline
          = link_to t('links.worker.discharge'), worker_path(@worker), method: :patch,
            class: "btn btn-own btn-block"
        .btn-own-outline
          = link_to t('links.course.train'), '#',
            class: "btn btn-own btn-block", id: "btn-training-form"
        .item-stat#training-form
          .item-stat-header= t('elements.course.name')
          = form_tag courses_path, method: :post, remote: true do
            = hidden_field_tag(:worker_id, @worker.id)
            .input-group
              = label_tag(:topic, t("links.course.topic"))
              - translated_topics = Worker::TOPICS.map{|topic| [t("activerecord.attributes.#{topic}.name"), topic] }
              = select_tag(:topic, options_for_select(translated_topics), include_blank: true, class: 'form-control input-sm form-element')
            %div#hide-lvl1
              .input-group#train_by{ :'data-translation' => t('links.course.by') }
                = radio_button_tag(:relative, "true", true, class: 'form-element')
                = label_tag(:relative_true, t("links.course.train_by"))
              .input-group#train_to{ :'data-translation' => t('links.course.to') }
                = radio_button_tag(:relative, "false", false, class: 'form-element')
                = label_tag(:relative_false, t("links.course.train_to"))
              .input-group
                = label_tag(:course_points, t("links.course.by"), id: 'points-label')
                = number_field_tag(:course_points, nil, in: 1..100, step: 1, class: 'form-element')
                = label_tag(:course_points, t("links.course.pts"), id: 'points-label2')
              .input-group#course-price{ :'data-path' => courses_price_path }
                = label_tag(:price, t("elements.course.price"))
                %span
              .alert.alert-danger#course-price-alert= t('elements.player.no_cash_for_course')
              %div#hide-lvl2
                .btn-own-outline
                  = submit_tag(t('links.course.submit'), class: 'btn btn-own btn-block', data: { confirm: t('links.course.accept') })
        
= javascript_include_tag 'page_specific/worker_course_form'
