$("#item-div").detach().remove();
$("#item-divs").prepend("<%= escape_javascript(render partial: 'inspections/cluster')%>")
$('#flash-container').detach().remove();
$('#flash-container-out').prepend("<%= escape_javascript(render partial: 'layouts/flash_container')%>");
$('#player-founds').children('#cash').text("<%= @current_player.cash %>")
