%div#inspection-banner
  %span= t('elements.inspection.clusters', name: @ship.name)
.row
  .col-md-9
    = t('texts.inspection.clusters')
  .col-md-3
    .btn-own-outline
      = link_to t('links.inspection.to_index'), inspections_path, class: 'btn btn-own btn-block'
= render partial: 'inspections/navigation'
.row
  .col-md-4#item-link-divs
    = div_for(@clusters, class: "item-links") do |cluster|
      = link_to cluster.name, cluster_inspection_path(cluster, c_ship_id: @ship.id), remote: true
  .col-md-8#item-divs
    = render partial: 'inspections/cluster' if @cluster