%div#inspection-banner
  %span= @text
%p= t('texts.inspection.index')
.row
  .col-md-4
    .item-stat.inspect-form
      .item-stat-header
        = t('elements.ship.ships')
        
      .btn-own-outline
        = link_to t('links.ship.inspect.all'), ships_inspection_path, class: 'btn btn-own btn-block'
      %hr
      - if @current_player.ships.count < 4
        = div_for @current_player.ships do |ship|
          = link_to ship.name, ship_inspection_path(ship)
        %hr
        
      = form_tag ships_inspection_path, method: :get do
        .input-group
          = check_box_tag :s_with_tier, true, false, class: 'form-element s-form-element'
          = label_tag :s_with_tier, t('links.ship.inspect.with_tier')
        .row#s-tiers-checkboxes
          .col-md-5.col-md-offset-1
            - (1..5).each do |n|
              .input-group
                = check_box_tag "s_tiers[#{n}]", n, false, class: 's-tier-check s-form-element'
                = label_tag "s_tiers[#{n}]", t('activerecord.attributes.tier', tier: n)
          .col-md-6
            - (6..10).each do |n|
              .input-group
                = check_box_tag "s_tiers[#{n}]", n, false, class: 's-tier-check s-form-element'
                = label_tag "s_tiers[#{n}]", t('activerecord.attributes.tier', tier: n)
        
        .input-group
          = check_box_tag :s_of_variant, true, false, class: 'form-element s-form-element'
          = label_tag :s_of_variant, t('links.ship.inspect.of_variant')
        .row#s-variants-checkboxes
          .col-md-11.col-md-offset-1
            - (1..3).each do |n|
              .input-group
                = check_box_tag "s_variants[#{n}]", n, false, class: 's-variant-check s-form-element'
                = label_tag "s_variants[#{n}]", t("activerecord.attributes.ship.variants.t#{n}.one")
        .response#s_found{:'data-path' => ships_inspection_path}
          = t('links.inspection.found')
          %span
        .btn-own-outline.submit#s-submit
          = submit_tag t('links.inspection.show'), class: 'btn btn-own btn-block'
          
  .col-md-4
    .item-stat.inspect-form
      .item-stat-header
        = t('elements.part.parts')
      // .btn-own-outline
      //   = link_to t('links.part.inspect.all'), parts_inspection_path, class: 'btn btn-own btn-block'
      %hr
      = form_tag parts_inspection_path, method: :get do
        #p-selections
          .input-group
            = radio_button_tag :p_selection, 'all', false, class: 'form-element  p-form-element'
            = label_tag :p_selection_all, t('links.part.inspect.all')
          .input-group
            = radio_button_tag :p_selection, 'free', false, class: 'form-element  p-form-element'
            = label_tag :p_selection_free, t('links.part.inspect.not_installed')
          .input-group
            = radio_button_tag :p_selection, 'shipped', false, class: 'form-element  p-form-element'
            = label_tag :p_selection_shipped, t('links.part.inspect.installed_on')
        .input-group
          = select_tag :p_ship_id,
            options_from_collection_for_select(@current_player.ships, :id, :name),
            class: 'form-control input-sm form-element p-form-element'
        .input-group
          = check_box_tag :p_specific_klass, 'true', false, class: 'form-element  p-form-element'
          = label_tag :p_specific_klass, t('links.part.inspect.specific_klass')
        .input-group
          - translated_klass = Partable::KLASSES.map{|klass| [t("elements.part.klass.#{klass.downcase}.few"), klass]}
          = select_tag :p_klass,
            options_for_select(translated_klass),
            class: 'form-control input-sm form-element p-form-element'
        .response#p_found{:'data-path' => parts_inspection_path}
          = t('links.inspection.found')
          %span
        .btn-own-outline.submit#p-submit
          = submit_tag(t('links.inspection.show'), class: 'btn btn-own btn-block')
          
  .col-md-4
    .item-stat.inspect-form
      .item-stat-header
        = t('elements.worker.workers')
      .btn-own-outline
        = link_to t('links.worker.inspect.all'), workers_inspection_path, class: 'btn btn-own btn-block'
      %hr
      = form_tag workers_inspection_path, method: :get do
        #w-selections
          .input-group
            = radio_button_tag :w_selection, 'free', false, class: 'form-element w-form-element'
            = label_tag :w_selection_free, t('links.worker.inspect.not_assigned')
          .input-group
            = radio_button_tag :w_selection, 'not_shipped', false, class: 'form-element w-form-element'
            = label_tag :w_selection_not_shipped, t('links.worker.inspect.not_shipped')
          .input-group
            = radio_button_tag :w_selection, 'shipped', false, class: 'form-element w-form-element'
            = label_tag :w_selection_shipped, t('links.worker.inspect.shipped')
        .input-group
          = select_tag :w_ship_id,
            options_from_collection_for_select(@current_player.ships, :id, :name),
            class: 'form-control input-sm form-element w-form-element'
        .response#w_found{:'data-path' => workers_inspection_path}
          = t('links.inspection.found')
          %span
        .btn-own-outline.submit#w-submit
          = submit_tag(t('links.inspection.show'), class: 'btn btn-own btn-block')
          
= javascript_include_tag 'page_specific/inspections_forms'
      