%div#inspection-banner
  %span= @text
.row
  .col-md-9
    = t('texts.inspection.parts')
  .col-md-3
    .btn-own-outline
      = link_to t('links.inspection.to_index'), inspections_path, class: 'btn btn-own btn-block'
= render partial: 'inspections/navigation' if @ship
.row
  .col-md-4#item-link-divs
    - @parts.each do |part_type|
      = div_for(part_type, class: "item-links") do |part|
        = link_to part.name, part_inspection_path(id: part.id, klass: part.big_klass), remote: true
  .col-md-8#item-divs
    = render partial: 'inspections/part' if @part