%div#inspection-banner
  %span= @text
.row
  .col-md-9
    = t('texts.inspection.ships')
  .col-md-3
    .btn-own-outline
      = link_to t('links.inspection.to_index'), inspections_path, class: 'btn btn-own btn-block'
      
- @ships.each do |ship|
  %div= link_to ship.name, ship_inspection_path(ship)
