%div#inspection-banner
  %span= t('elements.inspection.ship', name: @ship.name)
.row
  .col-md-9
    = t('texts.inspection.ship', name: @ship.name)
  .col-md-3
    .btn-own-outline
      = link_to t('links.inspection.to_index'), inspections_path, class: 'btn btn-own btn-block'

= render partial: 'inspections/navigation'

.item-name
  %span= t('elements.ship.ship') + @ship.name + " | " + @ship_stat.name
.row
  .col-md-4
    .item-stat
      .item-stat-header= t('elements.ship.stats')
      - Partable::KLASSES.each do |klass|
        - if !(klass_val = @ship.try(klass.downcase)).nil?
          %div= klass + " = " + klass_val.to_s
  .col-md-4
    = t('elements.ship.show_reports')
    - Cluster::PART_ASSIGNMENT.each_key do |section|
      %div{class: "#{section}"}
        = link_to t("links.ship.report.#{section.downcase}"), section_report_path(@ship, section.downcase), remote: true
        %div{class: "#{section}-report"}
  .col-md-4
    = t('elements.ship.chart')
    = render 'ships/stat_chart'