%div#inspection-banner
  %span= @text
.row
  .col-md-9
    = t('texts.inspection.workers')
  .col-md-3
    .btn-own-outline
      = link_to t('links.inspection.to_index'), inspections_path, class: 'btn btn-own btn-block'
= render partial: 'inspections/navigation' if @ship
.row
  .col-md-4#item-link-divs
    = div_for(@workers, class: "item-links") do |worker|
      = link_to worker.name, worker_inspection_path(worker), remote: true
  .col-md-8#item-divs
    = render partial: 'inspections/worker' if @worker
