%div#flash-container
  - if flash[:notice]
    %p.alert.alert-info.alert-dismissable
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        %span{"aria-hidden" => "true"} ×
      = flash[:notice]
  - if flash[:alert]
    %p.alert.alert-danger.alert-dismissable
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        %span{"aria-hidden" => "true"} ×
      = flash[:alert]