%nav.navbar.navbar-default.navbar-fixed-bottom.navbar-inverse
  .container-fluid
    %ul.nav.navbar-nav
      %li
        %a{:href => "#"}
          Link
      %li
        %a{:href => "#"} Link
      %li.dropdown
        %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          Dropdown
          %span.caret
        %ul.dropdown-menu{:role => "menu"}
          %li
            %a{:href => "#"} Action
          %li
            %a{:href => "#"} Another action
          %li
            %a{:href => "#"} Something else here
          %li.divider
          %li
            %a{:href => "#"} Separated link
          %li.divider
          %li
            %a{:href => "#"} One more separated link
    %ul.nav.navbar-nav.navbar-right
      %li
        %a{:href => "#"} Link
      %li.dropdown
        %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          Przydatne
          %span.caret
        %ul.dropdown-menu{:role => "menu"}
          %li
            = link_to 'routes', rails_routes_path if Rails.env != 'production'
          %li
            = link_to 'ship dealer', new_ship_path
