.player-name
  = @current_player.name
.player-image
  = image_tag('pilot_icon_sm.png', alt: 'player image', size: '100')
  
#player-founds
  Money:
  %span#cash= @current_player.cash
.btn.btn-dark.btn-block
  Btn text
%p
  Payer profile and navigation will be here someday.
  
%ol.manage
  = link_to t('elements.inspection.index'), inspections_path
  