!!!
%html
  %head
    %title GameSpaceships
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    
    = render 'layouts/header'
    .container
      %div#flash-container-out= render 'layouts/flash_container'
      .row
        .col-md-3
          .my-container-outline
            .my-container
              - if player_signed_in?
                = render 'layouts/player_nav'
              - else
                = render text: 'Here will be login form and button to register'
        .col-md-9
          .my-container-outline
            .my-container#main-container
              = yield
    = render 'layouts/footer'